body {
    background-color: #FEFEFE;
    font-family: 'Outfit', sans-serif;
}


.sidebar {
    width: 250px;
    background-color: #F2F1F2;
    padding: 20px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: width 0.3s;
}

.sidebar.minimized {
    width: 80px;
}

.sidebar h3 {
    font-size: 24px;
    margin-bottom: 30px;
    transition: opacity 0.3s;
}

.sidebar.minimized h3 {
    opacity: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    transition: opacity 0.3s;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.sidebar.minimized ul li a {
    justify-content: center;
}

.sidebar.minimized ul li a span {
    display: none;
}

.sidebar-footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.sidebar-footer i {
    font-size: 24px;
    cursor: pointer;
}
.modal-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.logout-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.logout-button:hover {
    background-color: #0056b3;
}


.toggle-btn {
    position: absolute;
    top: 20px;
    right: -25px;
    background-color: black;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-btn:hover {
    background-color: #EEEE;
    color : black;
}

.content {
    margin-left: 270px;
    padding: 20px;
    transition: margin-left 0.3s;
}

.content.minimized {
    margin-left: 100px;
}

.card {
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.card h2 {
    font-size: 20px;
    margin-bottom: 20px;
}



.card input, .card textarea, .card select {
    background-color: #EEEE;
    width: 100%;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card label {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.card .btn {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.card .btn:hover {
    background-color: black;
}

.img-upload img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.img-upload input {
    display: none;
}

.img-upload label {
    display: block;
    padding: 10px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.img-upload label:hover {
    background-color: black;
}

.category-list {
    display: flex;
    gap: 10px;
}

.category-item {
    background-color: #f4f5f7;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.category-item:hover {
    background-color: #e2e6ea;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header .btn{
    border-radius: 50px;
    background-color: black;
    border: 0px;
}


.table-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f4f5f7;
}

table td img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

table td button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
 
table td button:hover {
    background-color: #0069d9;
}

.action-buttons i {
    cursor: pointer;
    font-size: 20px;
    margin: 0 5px;
}
.edit {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.edit:hover {
    color: grey;
}

.product-image {
    border-radius: 10px;
}

.download-icon {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-image:hover .download-icon {
    opacity: 1;
}

.product-image .overlay {
    opacity: 0; /* Hide the overlay by default */
    transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

.product-image:hover .overlay {
    opacity: 1; /* Show the overlay when hovering over the parent element */
}

.download-counter {
    padding: 10px;
}

/* Style for profile section at the bottom */
.sidebar .profile {
    margin-top: auto;
}

.sidebar .profile button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.sidebar .profile button i {
    margin-right: 5px;
}


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup p {
    margin-bottom: 10px;
}

.popup button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}