/* 
color : 
#f4f0ec light
#e5dcce medium
#feffff white
#9f5926 coral
#2e2641 black
*/

body {
    background-color: #f4f0ec;
    font-family: 'Outfit', sans-serif;
    color: #2e2641 ;
}

header {
    background-color: #f4f0ec;
}

.navbar {
    background-color: transparent !important;
    height: 5rem;
}

.navbar-brand {
    color: #9f5926 !important;
    font-size: 24px;
    font-weight: bold;
}

.nav-link {
    color: #2e2641 !important;
    font-size: 18px;
}

 
.nav-item .btn {
    background-color: transparent;
    color: #4F4537;
    border: 2px solid #4F4537;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-item .btn:hover {
    background-color: #4F4537;
    color: #FFF8F0;
}

.jumbotron {
    background-color: transparent;
    background-size: cover;
    /* height: 65vh; */
    text-align: center;
    /* padding: 2rem 1rem; */
    display: block;
}

.jumbotron h1 {
    font-size: 48px;
    margin-top: 200px;
}

.portfolio-item {
    background-color: #111;
    color: #FFF8F0;
    padding: 20px;
    margin-bottom: 20px;
}

.jumbotron-content {
    /* position: absolute; */
    width: auto;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.jumbotron-content img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.jumbotron-image {
    position: relative;
    z-index: 1;
    max-width: 900px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.portfolio-item {
    background-color: #111;
    color: #FFF8F0;
    padding: 20px;
    margin-bottom: 20px;
}
  

.marquee-container {
    position: static;
    width: 100%;
    /* height: 50vh; */
    overflow: hidden;
    z-index: 0; /*memposisikan text marquee di belakang gambar*/
}

.marquee-container marquee {
    position: absolute; /*posisikan marque agar selalu fixed*/
    top: 25vh;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 10rem;
    font-family: 'Vogue';
    color: #e5dccea2;
}

.text-jumbotron {
    position: absolute;
    bottom: 0;
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
}


@media (max-width: 1200px) {
    .text-jumbotron {
        position: relative !important;
        padding: 50px 0;
    }
    
    .marquee-container marquee {
        position: static;
        
    }
}

.text-jumbotron span{
    font-weight: bolder;
    letter-spacing: 2px;
    color: #9f5926;
}

.text-jumbotron h3{
    font-family: 'Vogue';
    font-size: 2.5rem;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.about-me {
    padding: 150px 30px;
    background-color: #e5dcce;
}


.about-me .description-box{    
    background-color: #f4f0ec;
    /* width: 500px;
    height: 500px; */
    /* margin-top: 20px; */
    padding: 72px;
}

.about-me .description-box h2{
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 15px;
    color: #9f5926;
    margin-bottom: 5px;
    text-align: justify;
}

.about-me .description-box p{
    font-size: 17px;
    color: #2e2641;
    text-align: justify;
}

.about-me .description-box .btn {
    background-color: transparent;
    color: #4F4537;
    border: 2px solid #4F4537;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.about-me .description-box .btn:hover {
    background-color: #4F4537;
    color: #FFF8F0;
}



.image-box img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.skills h2{
    font-family: 'Vogue';
    text-align: center;
    padding: 25px;
    letter-spacing: 2px;
}

.skills-item{
    padding: auto;
    flex-direction: row;
}

.skills-item img{
    width: 100px;
    height: 100px;
}


.client h2 {
    font-family: 'Vogue';
    text-align:center;
    padding: 20px;
    /* font-weight: bold; */
    letter-spacing: 2px;
}


section {
    color: #111;
    padding: 100px 30px;
}



.skills-desc {
    h2 {
        padding: 0px;
        text-align: justify;
        margin-bottom: 0px;
    }
    
    p {
        margin-bottom: 10px;
    }
}

.skills-desc {
    padding: 5px 20px;
}


.get-in-touch{
    h2{
        font-family: 'Vogue';
        text-align: center;
        font-size: 50PX;
    }
    .btn{
        background-color: transparent;
        color: #111;
        border: 2px solid #111;
        border-radius: 5px;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }
    
    .btn:hover {
        background-color: #111;
        color: #FFF8F0;
    }

    a{
        color: #111;
    }
}

.form-control{
    border: none; 
    border-radius: 0; 
    background-color: transparent; 
}

.form-control:focus{
    box-shadow: none;
}

.form-control::placeholder{
    color: #111;
    font-family: 'Vogue';
    letter-spacing: 2px;
}


.contact {
    h2 {
        font-family: 'Vogue';
        font-size: 20px;
        text-align: left;
    }
    h3{
        font-size: 18px;
    }
}


footer {
    color: black;
    background-color: #e5dcce;
    
    
    .footer-content {
        padding: 50px 30px 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer-content .container {
        position: relative;
        top: 70px;
    }
    
    .profile {
        max-width: 250px;
        margin: auto;
    }

    .button{
        display: inline-block;
        background-color: transparent;
        color: #111;
        border: 2px solid #111;
        border-radius: 5px;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }

    .button:hover{
        background-color: #111;
        color: #FFF8F0;
    }

    .copyright{
        background-color: #9f5926;
    }
}