body {
    background-color: black; 
    font-family: 'Arial'; 
    letter-spacing: 1px;
}

/* Navbar */
.navbar {
  background-color: black;
  transition: background-color 0.3s ease-in-out;
}
.navbar-brand{
  color: white;
}

.navbar.fixed-top.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-nav .nav-link {
  color: white; 
}

/* Dropdown Menu */
.dropdown-menu {
    background-color: transparent;
}   

.dropdown-item {
color: white;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: rgba(255, 255, 255, 0.1); 
}

.dropdown-divider {
border-top-color: rgba(255, 255, 255, 0.1); 
}

/* Navbar Toggler Icon */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-color: transparent;
}

/* contact page */
.contact .col-md-4{    
    margin-top: 70px;
    padding-top: 50px;
    color:black;
    background-color: white;
}

.contact .contact-form{
    margin-left: 100px;
    padding: 10px;
    margin-bottom: 20px;
}
.contact-form h2{
    font-size: 25px;
}
.contact-form p{
    font-size: 12px;
}

.contact .form-group {
    margin-bottom: 20px; 
}

.contact .form-control {
    border: none; 
    border-radius: 0; 
    background-color: transparent; 
}

.contact .form-control:focus {
    box-shadow: none; 
}


.contact .form-control::placeholder {
    color: black; 
    font-family: "Arial";
    letter-spacing: 2px;
}


.contact button.btn {
    background-color: white; 
    color: black; 
    border: none; 
    border-radius: 0; 
    padding: 10px 20px; 
    transition: background-color 0.3s; 
}

.contact button.btn:hover {
    background-color: black;
    color: white;
}

.map-container{
    width: 80%;
    height: 80%;
    border: 0;
    margin: auto;
}


.contact .col-md-3 .faq-form{    
    background-color: black;
    color: white;
    margin-top: 70px;
    padding-top: 50px;
    margin-left: 30px;
}

.faq-form h2{
    font-size: 25px;
}
.faq-form p{
    font-size: 12px;
}

.faq-form .form-group {
    margin-bottom: 20px; 
}

.faq-form .form-control {
    border: none; 
    border-radius: 0; 
    background-color: transparent; 
}

.faq-form .form-control:focus {
    box-shadow: none; 
}


.faq-form .form-control::placeholder {
    color: white; 
    font-family: "Arial";
    letter-spacing: 2px;
}


.faq-form button.btn {
    background-color: black; 
    color: white; 
    border: none; 
    border-radius: 0; 
    padding: 10px 20px; 
    transition: background-color 0.3s; 
}

.faq-form button.btn:hover {
    background-color: white;
    color: black;
}

/* Shortcut */
.shortcut {
  background-color: #e9e6e3;
  padding: 50px;
}

.shortcut .container {
  max-width: 1200px;
}

.shortcut h4 {
  font-size: 15px;
  margin-bottom: 20px;
}

.shortcut p {
  font-size: 15px;
  color: black;
  margin-bottom: 10px;
}

.shortcut ul {
  list-style: none;
  padding: 0;
}

.shortcut ul li {
  margin-bottom: 10px;
}

.shortcut ul li a {
  text-decoration: none;
  transition: color 0.3s;
  color: black;
}

.shortcut ul li a:hover {
  color: #666;
}

.shortcut blockquote {
  font-size: 15px;
  color: black;
  margin-bottom: 20px;
}

.shortcut blockquote small {
  font-size: 14px;
  color: #999;
}



/* Footer */
footer {
  background-color: #131414;
  color: white;
  padding: 20px;
}

footer p {
  margin: 0;
}